*{
    text-align: center;
}

/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: "Arial, sans-serif";
    background-color: #fff;
    color: #000;
    margin: 20px;
    padding: 10px;
}

/* Encabezado */
h1 {
    color: #1a73e8;
    margin-bottom: 10px;
}

/* Formulario */
input[type="text"], input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100px; /* Ajustar el tamaño para 100 caracteres */
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Resultado */
#mensaje2 {
    border: 2px solid #1a73e8;
    padding: 8px;
    background-color: #f0f8ff;
}